body {
    background-color: #f7f7f7;
}

#title, .sub_title, .post_title {
    color: #505050;
}

.post_title {
    font-size: 16px;
    font-style: italic;
    margin: 0px;
    margin-bottom: 15px;
}

.post {
    background-color: #fff;
    padding: 10px;
    border: 3px solid #505050;
    margin-bottom: 15px;
}

.post_content, .img_post{
    margin: 0;
    margin-bottom: 15px;
}

#minha_foto, .post {
    border-radius: 20px;
}